.letter{
    padding: 30px 0;
}
.letter .profile{
    width: 50px;
    height: 50px;
    background-size: cover;
    float: right;
    margin-left: 31px;
}
.letter .profile img{
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.letter .content{
    border: 1px solid #d5d5d5;
    padding: 0;
}
.letter .content h5{
    margin: 10px 10px 20px;
}
.letter .content .text{
    margin: auto 10px;
}
.letter .content .panel-footer{
    padding: 0;
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.letter .content .panel-footer [class*=" fa-"]{
    border-left: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #FFFFFF inset;
    opacity: 0.7;
    padding: 13px 9px 0px;
    top: 0;
    height: 36px;
}
.btn-file{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    outline: none;
    cursor: pointer !important;
}
